/* Font */

p,
input,
button,
select {
    font-size: 125%;
}

/* Tab Buttons */

.tabbtn input {
    margin: 2px;
}

/* Background */

html,
div {
    background-color: white;
}

/* body {
    background-image: url("papersignLogo.png");
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }