doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include crud.css
    include common.css
  script(src='logik.js')
  
script.
  let index;

  document.addEventListener('DOMContentLoaded',()=>{
      document
        .getElementById('produktList')
        .addEventListener('input', handleSelect)
  })

  function handleSelect (ev){
    let chosenProduckGoup = ev.target.value;

    result = chosenProduckGoup.split(" ");
    index = result.length - 1
    aktuelGroupNr = result[index]
    console.log(aktuelGroupNr)
    produktsInGroup(aktuelGroupNr)
  
  }

  let produktsInGroup = async (aktuelGroupNr) => {
    localStorage.setItem('groupNr',aktuelGroupNr)

    try {
    await post("/seachProduktinGroup", {valgtGruppeNr: aktuelGroupNr});
    window.location.href = "/CRUD"
    }catch(e){
    console.log("Fejl");
    }
  }

  
    //Post metode til funktion. 
    async function post(url, objekt) {
    const respons = await fetch(url, {
    method: "POST",
    body: JSON.stringify(objekt),
    headers: {
    'Content-Type': 'application/json'
    }
    });
    if (respons.status !== 201) // Created
    throw new Error(respons.status);
    return await respons.text();
  }

  let createProductgroup = async () => {
    var produktGruppeNavn = document.getElementById("navnG").value;
    var produktGruppeBeskrivelse = document.getElementById("beskrilseG").value;
    try {
    await post("/opretProduktGruppe", {produktGruppeNavn: produktGruppeNavn, produktGruppeBeskrivelse: produktGruppeBeskrivelse});
    window.location.href = "/CRUD"
    }catch(e){
      console.log("Fejl");
    } 
  }

  let deleteProductGroup = async () => {
    try {
      await post("/deleteProduktGroup", {aktuelGroupNr: localStorage.getItem('groupNr')});
      window.location.href = "/CRUD"
    }catch(e){
      console.log("Fejl");
    } 
  }

  let updateProductGroup = async () => {
    var produktGruppeNavn = document.getElementById("navnG").value;
    var produktGruppeBeskrivelse = document.getElementById("beskrilseG").value;
    try {
    await post("/updateProduktGroup", {aktuelGroupNr: localStorage.getItem('groupNr'),produktGruppeNavn: produktGruppeNavn, produktGruppeBeskrivelse: produktGruppeBeskrivelse });
    window.location.href = "/CRUD"
    }catch(e){
    console.log("Fejl");
    } 
    }


     let createProduct = async () => {
        var produktNavn = document.getElementById("navn").value;
        var produktPris = document.getElementById("pris").value;
        var produktAntal = document.getElementById("antal").value;
        try {
        await post("/opretProdukt", {gruppeNr: localStorage.getItem('groupNr'), produktNavn: produktNavn, produktPris: produktPris, produktAntal: produktAntal});
        window.location.href = "/CRUD"
        }catch(e){
        console.log("Fejl");
        } 
    }

    let deleteProduct = async () => {
        try {
        await post("/deleteProdukt", {aktuelProduktNr: "Per"});
        window.location.href = "/CRUD"
        }catch(e){
        console.log("Fejl");
        } 
    }
  title PaperSign
.tabbtn
  form(action = "/" method="get")
    input(class="button" type="submit" value="Kasse")
  form(action = "/faktura" method="get")
    input(class="button" type="submit" value="Faktura")
  form(action= "/crud" method="get")
    input(class="button" type="submit" value="Crud")
h1 PaperSign CRUD
.parent
  .child1
    input#atribut(type='text' placeholder='Kategori')
    input#value(type='text' placeholder='Værdi')
    button S&oslash;g
    p#titleP Produktgrupper
    select#produktList(name='pgroups' multiple='')
      each data in produktgrupper
        option()= data.navn + " "+ data.gruppeNr
        //option(value="" placeholder="")= 'Navn: ' + data.navn
    button#tilfoejProduktG(onclick='createProductgroup()') Tilf&oslash;j
    button#updaterProduktG(onclick='updateProductGroup()') Opdater
    button#sletProduktG(onclick='deleteProduct') Slet

    input#navnG(type='text' placeholder='Navn')
    input#beskrilseG(type='text' placeholder='Beskrivelse')  
  .child2
    p#titleB  
    p#titleK Produkter
    select#kurvList(name='productsForGroup' multiple='')
      each data in ProduktInProduktGoup
          option()= 'Navn: ' + data.navn
          //option(value="" placeholder="")= 'Navn: ' + data.navn
    button#tilfoejProdukt(onclick='createProduct()') Tilf&oslash;j
    button#updateProdukt Opdater
    button#sletProdukt(onclick='deleteProduct()') Slet
    input#navn(type='text' placeholder='Navn')
    input#pris(type='number' placeholder='Pris')
    input#antal(type='number' placeholder='Antal')
    input#ean(type='text' placeholder='EAN')
    input(type='text' id='leverandør' placeholder='Leverandør')
    input#bestillingsnummer(type='text' placeholder='Bestillingsnummer')
    input#tilfoejAtr(type='text' placeholder='Skriv tekst her')
    button#tilfoejAtrBut Tilf&oslash;j
