doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include crud.css
    include common.css
  script(src='logik.js')
  
script.

  //Valg af produktgruppe. 
  document.addEventListener('DOMContentLoaded',()=>{
      document
        .getElementById('produktGList')
        .addEventListener('input', handleSelect)
  })

  function handleSelect (ev){
    let chosenProduckGoup = ev.target.value;

    result = chosenProduckGoup.split(" ");
    index = result.length - 1
    aktuelGroupNr = result[index]
    console.log(aktuelGroupNr)
    localStorage.setItem('groupNr',aktuelGroupNr)
    produktsInGroup(aktuelGroupNr)

  }

  let produktsInGroup = async (aktuelGroupNr) => {

    try {
    await post("/seachProduktinGroup", {valgtGruppeNr: aktuelGroupNr});
    window.location.href = "/CRUD"
    }catch(e){
    console.log("Fejl");
    }
  }

  //valg af produkt. 
  document.addEventListener('DOMContentLoaded',() => {
    document
      .getElementById('produktList')
      .addEventListener('input', handleSelect2)
  })
  
  function handleSelect2 (ev){
    let chosenProdukt = ev.target.value;
    result = chosenProdukt.split(" ");
    index = result.length - 1
    aktuelProduktNr = result[index]
    localStorage.setItem('produktNr',aktuelProduktNr)
    console.log(aktuelProduktNr)
    aktuelProduktNrTilServer(aktuelProduktNr)
  }

  let aktuelProduktNrTilServer = async (aktuelProduktNr) => {
    try {
    await post("/aktuelProduktNrTilServer", {aktuelProduktNr: aktuelProduktNr});
    window.location.href = "/CRUD"
    }catch(e){
    console.log("Fejl");
    }
  }

    //Post metode til funktion. 
    async function post(url, objekt) {
    const respons = await fetch(url, {
    method: "POST",
    body: JSON.stringify(objekt),
    headers: {
    'Content-Type': 'application/json'
    }
    });
    if (respons.status !== 201) // Created
    throw new Error(respons.status);
    return await respons.text();
  }


  let createProductgroup = async () => {
    var produktGruppeNavn = document.getElementById("navnG").value;
    var produktGruppeBeskrivelse = document.getElementById("beskrilseG").value;
    try {
    await post("/opretProduktGruppe", {produktGruppeNavn: produktGruppeNavn, produktGruppeBeskrivelse: produktGruppeBeskrivelse});
    window.location.href = "/CRUD"
    }catch(e){
      console.log("Fejl");
    } 
  }

    let deleteProductGroup = async () => {
      console.log("Lort")
        try {
        await post("/deleteProductGroup", {aktuelGroupNr: localStorage.getItem('groupNr')});
        window.location.href = "/CRUD"
        }catch(e){
        console.log("Fejl");
        } 
    }

  let updateProductGroup = async () => {
    var produktGruppeNavn = document.getElementById("navnG").value;
    var produktGruppeBeskrivelse = document.getElementById("beskrilseG").value;
    try {
    await post("/updateProduktGroup", {aktuelGroupNr: localStorage.getItem('groupNr'),produktGruppeNavn: produktGruppeNavn, produktGruppeBeskrivelse: produktGruppeBeskrivelse });
    window.location.href = "/CRUD"
    }catch(e){
    console.log("Fejl");
    } 
    }
    
    let createProduct = async () => {
        var produktNavn = document.getElementById("navn").value;
        var produktPris = document.getElementById("pris").value;
        var produktAntal = document.getElementById("antal").value;
        var leveradør = document.getElementById("leveradoer").value;
        var bestillingsnummer = document.getElementById("bestillingsnummer").value;

        console.log(produktNavn + " " + produktPris + " " + produktAntal + " " + leveradør + " " + bestillingsnummer)
        try {
        await post("/opretProdukt", {gruppeNr: localStorage.getItem('groupNr'), produktNavn:  produktNavn, produktPris: produktPris, produktAntal: produktAntal, leveradør: leveradør, bestillingsnummer: bestillingsnummer});
        window.location.href = "/CRUD"
        }catch(e){
        console.log(Fejl);
        } 
        console.log("test")     
    }

    let deleteProduct = async () => {
        try {
        await post("/deleteProdukt", {aktuelProduktNr: localStorage.getItem('produktNr')});
        window.location.href = "/CRUD"
        }catch(e){
        console.log("Fejl");
        } 
    }

    let updateProduct = async (openedBySeach) => {
        var produktNavn = document.getElementById("navn").value;
        var produktPris = document.getElementById("pris").value;
        var produktAntal = document.getElementById("antal").value;
        var leveradør = document.getElementById("leveradoer").value;
        var bestillingsnummer = document.getElementById("bestillingsnummer").value;
        console.log(openedBySeach)
        try {
          if(openedBySeach == 0){
            await post("/updateProdukt", {aktuelProduktNr: localStorage.getItem('produktNr'), gruppeNr: localStorage.getItem('groupNr'), produktNavn: produktNavn, produktPris: produktPris, produktAntal: produktAntal, leveradør: leveradør, bestillingsnummer: bestillingsnummer });
          }
          //Virker ikke ordenligt endnu
          else if(openedBySeach == 1){
            await post("/updateProdukt", {aktuelProduktNr: valgtProduktNr, gruppeNr: valgtGruppeNr, produktNavn: produktNavn, produktPris: produktPris, produktAntal: produktAntal, leveradør: leveradør, bestillingsnummer: bestillingsnummer });
          }
        window.location.href = "/CRUD"
        }catch(e){
        console.log(Fejl);
        } 
    }

    let search = async () => {
        var attribut = document.getElementById("atribut").value;
        var value = document.getElementById("value").value; 
        console.log(attribut + value)
        try {
        window.location.href = "/search?atribut=" + attribut + "&value=" + value
        }catch(e){
        console.log("Fejl");
        } 
    }


doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include crud.css
    include common.css
  script(src='logik.js')
  title PaperSign
.tabbtn
  form(action = "/" method="get")
    input(class="button" type="submit" value="Kasse")
  form(action = "/faktura" method="get")
    input(class="button" type="submit" value="Faktura")
  form(action= "/crud" method="get")
    input#tabSelect(class="button" type="submit" value="Crud")
h1#tabTitle PaperSign CRUD
.parent
  .child1
    input#atribut(type='text' placeholder='Kategori')
    input#value(type='text' placeholder='Værdi')
    button#search(onclick = 'search()') S&oslash;g
    p#titleP Produktgrupper
    select#produktGList(name='pgroups' multiple='')
      each data in produktgrupper
        option()= data.navn + " "+ data.gruppeNr
        //option(value="" placeholder="")= 'Navn: ' + data.navn
    button#tilfoejProduktG(onclick='if (confirm("Er du sikker på at du vil oprette denne produktgruppe?")==true) createProductgroup()') Tilf&oslash;j
    button#updaterProduktG(onclick='if (confirm("Er du sikker på at du vil opdatere denne produktgruppe?") updateProductGroup()') Opdater
    button#sletProduktG(onclick='if (confirm("Er du sikker på at du vil slette denne produktgruppe?") deleteProductGroup()') Slet

    if (valgtGruppeNr == undefined)
        input#navnG(type='text' placeholder='Navn')
        input#beskrilseG(type='text' placeholder='Beskrivelse')

    each data in produktgrupper 
      if (data.gruppeNr == valgtGruppeNr)
        input#navnG(title="Navn" type='text' placeholder='Navn' value = data.navn)
        input#beskrilseG(title="Beskrivelse" type='text' placeholder='Beskrivelse' value = data.beskrivelse)
        - break 
    
    //- - var n = 0;
    //- while n < produktgrupper.length
    //-   if (produktgrupper[n].gruppeNr == valgtGruppeNr)
    //-     input#navnG(type='text' placeholder='Navn' value = produktgrupper[n].navn)
    //-     input#beskrilseG(type='text' placeholder='Beskrivelse' value = produktgrupper[n].beskrivelse)
    //-   else
    //-     input#navnG(type='text' placeholder='Navn')
    //-     input#beskrilseG(type='text' placeholder='Beskrivelse')


  .child2
    p#titleB  
    p#titleK Produkter
    select#produktList(name='productsForGroup' multiple='')
      each data in ProduktInProduktGoup
          option()= 'Navn: ' + data.navn + " " + data.produktNr
          //option(value="" placeholder="")= 'Navn: ' + data.navn
    button#tilfoejProdukt(onclick='if (confirm("Er du sikker på at du vil oprette dette produkt?") createProduct()') Tilf&oslash;j
    button#updateProdukt(onclick='if (confirm("Er du sikker på at du vil opdatere dette produkt?") updateProduct('+openedBySeach+')') Opdater
    button#sletProdukt(onclick='if (confirm("Er du sikker på at du vil slette dette produkt?") deleteProduct()') Slet
  
    if (valgtProduktNr == undefined)
        input#navn(type='text' placeholder='Navn')
        input#pris(type='number' placeholder='Pris')
        input#antal(type='number' placeholder='Antal')
        input#leveradoer(type='text' placeholder='Leverandør')
        input#bestillingsnummer(type='text' placeholder='Bestillingsnummer')
        

    each data in ProduktInProduktGoup
      if (data.produktNr == valgtProduktNr)
        input#navn(title="Navn" type='text' placeholder='Navn' value = data.navn)
        input#pris(title="Pris" type='text' placeholder='Pris' value = data.pris)
        input#antal(title="Antal" type='text' placeholder='Antal' value = data.antal)
        input#leveradoer(title="Leverandør" type='text' placeholder='Leverandør' value = data.leveradør)
        input#bestillingsnummer(title="Bestillingsnummer" type='text' placeholder='Bestillingsnummer' value = data.bestillingsnummer)
        - break 

    //input#tilfoejAtr(type='text' placeholder='Skriv tekst her')
    //button#tilfoejAtrBut Tilf&oslash;j
#psLogo
  img(src='/images/papersignLogo.png') 