/* unvisited link */
a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(14, 120, 0);
  text-decoration: none;
  background-color: aquamarine;

}

/* selected link */
a:active {
  color: rgb(130, 255, 106);
  text-decoration: none;
  background-color: rgb(130, 255, 106);
  ;

}

a {
  line-height: 130%;
  border-right: 2px solid black;
}

.ordrelinjer {
  display: grid;
  grid-template-columns: repeat(3, 15%);
  grid-template-rows: repeat(30,5%);
  grid-column-gap: 2px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 2px;
  height: 95%;
}

.ordrelinjerOverskrift {
  display: grid;
  grid-template-columns: repeat(3, 14.9%);
  grid-template-rows: repeat(1, 5%);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border-bottom: 2px solid black;
  padding: 2px;
}

#Pris,
#ordrecontentPris {
  padding: 2px;
  text-align: right;
}

body {
  overflow: hidden;
}

.odreoversigt {
  padding: 0px;
  margin: 8px;
  border: 2px solid black;
  height: 83.5%;
  overflow: hidden;
  font-size: 125%;
}