doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include faktura.css
    include common.css
  script(src='logik.js')
  title PaperSign
.tabbtn
  form(action = "/" method="get")
    input(class="button" type="submit" value="Kasse")
  form(action = "/faktura" method="get")
    input(class="button" type="submit" value="Faktura")
  form(action= "/crud" method="get")
    input(class="button" type="submit" value="Crud")
h1 PaperSign Ordrer
.parent
  h2 Ordreoversigt: <br><br>
    each data in ordrer
      a#productHeader(class='productHeader' href='/ordre/'+ data.docID +'')= data.ordreNr + ' - Dato:' + data.dato + " Samlet pris: " + " Kr. " + data.samletpris
      <br> 
        
