<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="guiCrud.css" />
    <script src="logik.js"></script>
    <title>Document</title>
</head>
<body>
    <button>Kasse</button>
    <button>Faktura</button>
    <button>Crud</button>
    <h1>PaperSign CRUD</h1>
    <div class="parent">
        <div class="child1">
            <p id="titleP">Produkt Grupper</p>
            <select name="kurv" id="produktList" multiple>
            </select>
            <button id="tilfoejProduktG" onclick="createProductgroup(navnG.value, beskrilseG.value)">Tilføj</button>
            <button id="tilfoejProduktG">Opdater</button>
            <button id="tilfoejProduktG">Slet</button>
            <input type="text" id="navnG" placeholder="Navn">
            <input type="text" id="beskrilseG" placeholder="Beskrivelse">
        </div class="child1">
        <div class="child2">
            <p id="titleK">Produkter</p>
            <select name="kurv" id="kurvList" multiple>
            </select>
            <button id="tilfoejProdukt" onclick="createProduct(navn.value, pris.value, antal.value, EAN.value, leverandør.value, bestillingsnummer.value, produktList.selected.value)">Tilføj</button>
            <button id="tilfoejProdukt">Opdater</button>
            <button id="tilfoejProdukt">Slet</button>
            <input type="text" id="navn" placeholder="Navn">
            <input type="text" id="pris" placeholder="Pris">
            <input type="text" id="antal" placeholder="Antal">
            <input type="text" id="ean" placeholder="EAN">
            <input type="text" id="leverandør" placeholder="Leverandør">
            <input type="text" id="bestillingsnummer" placeholder="Bestillingsnummer">
            <input type="text" id="tilfoejAtr" placeholder="Skriv tekst her">
            <button id="tilfoejAtrBut">Tilføj</button>
        </div class="child2">

    </div>
</body>
</html>