<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="kasse.css" />
    <link rel="stylesheet" type="text/css" href="common.css" />
    <title>Document</title>
</head>

<body>
    <button>Kasse</button>
    <button>Faktura</button>
    <button>Crud</button>
    <h1>PaperSign Kasse</h1>
    <div class="parent">
        <div class="child1">
            <input type="text" id="atribut" placeholder="Kategori">
            <input type="text" id="value" placeholder="Værdi">
            <button>Søg</button>
            <p id="titleP">Produkt liste</p>
            <select name="kurv" id="produktList" multiple>
            </select>
            <input type="number" id="antal" placeholder="Antal">
            <button id="tilfoejProdukt">Tilføj</button>

        </div class="child1">
        <div class="child2">
            <p id="titleB"> </p>
            <p id="titleK">Kurv</p>
            <select name="kurv" id="kurvList" multiple>
            </select>
            <button id="tilfoejRabat">Tilføj Rabat</button>
            <input type="text" id="rabat" placeholder="Rabat">
            <button>Slet</button>
            <select name="kurv" id="produktList">
                <option value="" disabled selected>Betallingsform</option>
                <option value="kort">Kort</option>
                <option value="kontant">Kontant</option>
                <option value="mobilPay">MobilPay</option>
            </select>
            <input type="text" name="" id="Beloeb" placeholder="Beløb">
            <button id="koeb">Køb</button>
        </div class="child2">

    </div>
</body>

</html>