doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include kasse.css
    include common.css
  script(src="/server.js")
  script(src="/logik.js")
  title PaperSign
.tabbtn
  form(action = "/kasse" method="get")
    input(class="button" type="submit" value="Kasse")
  form(action = "/faktura" method="get")
    input(class="button" type="submit" value="Faktura")
  form(action= "/crud" method="get")
    input(class="button" type="submit" value="Crud")
  button(class="button" id="dmode" value="Dark Mode" onclick='(function(){var element = document.body; element.classList.toggle("dark-mode");})();')    
h1 PaperSign Kasse
.parent
  .child1
    form.div2(type="hidden" action = "/search", method="get")
      input#atribut(type='text' name="attribut" placeholder='Attribute')
      input#value(type='text' name="vaerdi" placeholder='Søgeværdi')
      input(class='button' type="submit", value="Søg")
    form#pg(type="hidden" action = "/kasse", method="get")
      select#pg(name='pgroup' onchange='this.form.submit()')
        option(value='' disabled='' selected='') Produktgrupper
        option(id='visalt' value='visalt') VisAlle
        each d of produktgrupper
          if(d.gruppeNr==pgid)
            option(value=""+d.gruppeNr+"" selected)= '' + d.navn
          else 
            option(value=""+d.gruppeNr+"")= '' + d.navn
        option(id='intet' value='intet') *Intet
    p#titleP Produkter
    form.div3(type="hidden" action = "kasse", method="get") 
      select#produktList(value="" name='produktList' size="3")
        each data in produkter
          option(value=(data.navn+"."+data.pris) placeholder="")= data.produktNr + ": " + data.navn + ' ' + data.pris + ',-kr'
      input#antal(type='number' name="antal" placeholder='Antal')
      button#tilfoejProdukt(class='button' type="submit") Tilføj
  .child2
    p#titleB 
    p#titleB 
    p#titleK Kurv
    form#c2(action="underskrift") 
      .child22
        select#kurv(name='kurv' size="3")
          if (kurv!=null)
            each k of kurv
              option(value=""+k.navn+"" selected)= k.antal +'stk. ' + k.navn + ' ' + k.pris +' Total:' + k.total
        input#total(type='text' placeholder=''+total+'kr' readonly)
        button#rrabat(name="rrabat" value="rabat" formaction="kasserabat") Tilf&oslash;j Rabat
        input#rabat(name="rabat" type='number' placeholder='Rabat')
        button(class="button" type="submit" value="slet" formaction="kasseslet" method="get") Slet
        //- form#betalling(type="hidden" action = "underskrift", method="get") 
        select#betalling(name='betalling' method="" onchange="if (this.selectedIndex==4) this.form.submit()")
          option(value='' disabled='' selected='') Betallingsform
          option(value='kort') Kort
          option(value='kontant') Kontant
          option(value='mobilPay') MobilPay
          option(value='underskrift') Underskrift
        input#Beloeb(type='number' name='' value=''+total+'')
        button#koeb(formaction="kassebetal" method="get") K&oslash;b
