/* --------------------------------------------------------------- */


/* Big grid */
.parent {
    display: grid;
    grid-template-columns: repeat(6, 35%);
    grid-template-rows: repeat(10, 100px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

/* --------------------------------------------------------------- */

/* Big grid children */

.child1 {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(15, 40%);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-row-start: 1;
}

.child2 {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(15, 40%);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-column-start: 2;
    grid-row-start: 1;
    
}

/* --------------------------------------------------------------- */

/* Grid Content */

/* Listviews */
.child1 #produktList {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 14;

}

.child2 #kurvList {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 13;

}

.child2 #betalling {
    text-align: center;
}

/* Titles */
.child2 #titleK {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

}

.child1 #titleP {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

}

/* --------------------------------------------------------------- */

.child2 #titleB {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;

}

.div2{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(1, 100%);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.div3{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(1, 100%);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    /* grid-row-start: 1; */
    grid-column-start: 1;
    grid-column-end: 4;
}

#pg{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 99.9%;
    height: 100%;
}

body {
    overflow: hidden;
}
