doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include crud.css
    include common.css
  script(src='logik.js')
  title PaperSign
body
    .parent
    form(action = "/kasse" method="get")
        input(class="button" type="submit" value="Kasse")
    form(action = "/faktura" method="get")
        input(class="button" type="submit" value="Faktura")
    form(action= "/crud/" method="get")
        input(class="button" type="submit" value="CRUD")
    h1 PaperSign Search
        h2 søgning
        form.div2(action = "/search", method="get")
            input#atribut(type='text' name="attribut" placeholder='attribute')
            input#value(type='text' name="vaerdi" placeholder='soegevaerdi')
            input(class='button' type="submit", value="🔍👀 Søg")
            <br>
        each data in search
            a#productHeader(class='productHeader' href='/CRUD/'+ data.docID +'')= 'Navn: ' + data.navn
            <br>
            