 /* unvisited link */
 a:link {
   color: rgb(0, 0, 0);
   text-decoration: none;
 }

 /* visited link */
 a:visited {
   color: rgb(0, 0, 0);
   text-decoration: none;
 }

 /* mouse over link */
 a:hover {
   color: rgb(14, 120, 0);
   text-decoration: none;
   background-color: aquamarine;
 }

 /* selected link */
 a:active {
   color: rgb(130, 255, 106);
   text-decoration: none;
 }

 a {
   line-height: 130%;
 }

 .vareattributter {
   display: grid;
   grid-template-columns: repeat(7, 14%);
   grid-template-rows: repeat(100, 5%);
   grid-column-gap: 2px;
   grid-row-gap: 2px;
   border: 2px solid black;
   height: 69%;
   background-image: linear-gradient(white, rgb(199, 199, 199));
 }

 .attributter,
 #info {
   padding: 3px;
 }

 .div2{
  display: grid;
  grid-template-columns: repeat(3, 14%);
  grid-template-rows: repeat(1, 50%);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  font-size: 100%;
  padding: 4px;
  margin: 4px;
  width: 74%;
  height: 10.9%;

}