#sig{
    border: 3px;
    margin: 2px;
    padding: 2px;
    border-style: solid;
    background-color: white;
}

.funct{
    display: grid;
    grid-template-columns: repeat(3, 235px);
    grid-template-rows: repeat(1, 100%);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    padding: 2px;
}
/* --------------------------------------------------------------- */

/* Big grid */
/* --------------------------------------------------------------- */

/* Big grid children */

.child1 {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(15, 40%);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.child1 {
    grid-column-start: 1;
}

.child2 {
    grid-column-start: 1;
}

/* --------------------------------------------------------------- */

/* Grid Content */

/* Listviews */
.child1 #produktList    {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 8;

}


/* Titles */
.child1 #titleP{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;

}


.child1 input{
    grid-column-start: 1;
    grid-column-end: 4;
}